@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit: @Html.DisplayFor(model => model.Model)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Model)
    @Html.TextBoxFor(model => model.Model,  new { @class="form-control", required="required" })

    @Html.LabelFor(model => model.Manufacturer);
    @Html.TextBoxFor(model => model.Manufacturer, new { @class="form-control", required="required" });

    @Html.Label("Years in Operation");
    @Html.TextBoxFor(model => model.YearsInOperation, new { @type="number", @class="form-control", required="required" });

    @Html.Label("Last Serviced");
    @Html.TextBoxFor(model => model.LastServiced, new { @type="date", @class="form-control", required="required" });

    @Html.Label("Routine Maintenance Interval");
    @Html.TextBoxFor(model => model.MaintenanceInterval, new { @class="form-control", required="required" });

    @Html.Label("Engineer Licensed to Repair This Machine: ");
    @Html.DropDownList("EngineerId")


    <input type="submit" class="btn btn-dark" value="Save" />
}