@{
  Layout ="_Layout";
}

@model Factory.Models.Engineer

<h2>@Html.DisplayFor(model => model.Name)</h2>

<ul>
  <li>@Html.Label("Availability"): @Html.DisplayFor(model => model.Availability)</li>
  <li>@Html.Label("Hire Date"): @Html.DisplayFor(model => model.HireDate)</li>
  <li>@Html.Label("Experience Level"): @Html.DisplayFor(model => model.ExperienceLevel)</li>
  <li>@Html.Label("Licensed to work on"):
    <ul>
      @if (@Model.Machines.Count == 0)
      {
        <li>This engineer is not licensed to repair any machines.</li>
      }
      else
      {
        <ul>
          @foreach(var join in Model.Machines)
          {
            <li><h3>@Html.ActionLink($"{join.Machine.Model}", "Details", "Machines", new { id = join.Machine.MachineId })</h3></li>
            @using (Html.BeginForm("DeleteMachine", "Engineers"))
            {
              @Html.Hidden("joinId", @join.EngineerMachineId)
              <input type="submit" value="Delete"/>
            }
          }
        </ul>
      }
    </ul></li>
</ul>

<button class="btn btn-dark">@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</button>
<button class="btn btn-dark">@Html.ActionLink("Edit Engineer", "Edit", new { id = @Model.EngineerId })</button>
<button class="btn btn-dark">@Html.ActionLink("Delete Engineer", "Delete", new { id = @Model.EngineerId })</button>
